::ng-deep .message-success {
    background: #5cb85c;
}

::ng-deep .message-info {
    background: #5bc0de;
}

::ng-deep .message-error {
    background: #d9534f;
}

.app-grid-list {
    height: calc(100% - 64px); /* 100% - height of Header-Bar */
    padding-bottom: 0 !important;
}

.app-grid-tile {
    height: calc(100%); /* 100% - height of Header-Bar */
    padding-top: 0 !important;
}

.app-grid-tile-left {
    border-right: 1px solid;
}

.router-container {
    position: absolute;
    top: 1%;
    width: 98%;
    height: auto;
}

.item-list {
    position: absolute;
    top: 40%;
    max-height: 25%;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}