<button *ngIf="!adv" mat-raised-button (click)="start()" color="accent" class="full-width">Start Adventure</button>
<mat-toolbar *ngIf="adventureFinished" class="full-width background-success small-margin">
  Adventure Finished!
</mat-toolbar>
<button *ngIf="adventureFinished" mat-raised-button (click)="takeLoot()" color="accent" class="full-width">Take Loot</button>

<div *ngIf="adv && !adventureFinished">
  <mat-slider class="full-width" disabled="true" [max]="adv.waves" min="1" step="1" [(ngModel)]="adv.currentWave"></mat-slider>

  <mat-list class="full-width">
    <mat-list-item>
      {{ enemy.name.get() }} (Level {{enemy.level.get()}})
    </mat-list-item>
    <mat-list-item>
      <mat-progress-bar mat-line color="warn" mode="determinate" [value]="enemy.healthPercent">
      </mat-progress-bar>
      <p mat-subheader style="position: absolute; top: 15px; left: 0">{{enemy.currentHealth.get()}} / {{enemy.maxHealth.get()}}</p>
    </mat-list-item>
    <mat-divider style="margin-top: 12px;"></mat-divider>
    <mat-list-item>
      <p mat-line>Stamina: {{enemy.stamina.get()}}</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <p mat-line>Strength: {{enemy.strength.get()}}</p>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <div *ngIf="!enemy.isDead()" class="button-row-center">
    <button mat-fab color="accent" (click)="attack()">
      <mat-icon>gavel</mat-icon>
    </button>
    <button *ngFor="let spell of learnedSpells" mat-fab [color]="spell.color" (click)="castSpell(spell)">
      <mat-icon>{{spell.icon}}</mat-icon>
    </button>
  </div>

  <button *ngIf="enemy.isDead() && !adventureFinished" mat-raised-button (click)="nextWave()" color="accent" class="full-width">Next Wave</button>
</div>
