.button-row-center {
  display: block;
  margin: 0 auto;
  width: fit-content;
  padding: 2%;
}

.button-row-center>div {
  display: block;
  float: left;
  margin: 0 3px;
}

.spell-key-number {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 10px;
  text-align: center;
  margin: 5px 0 0 0;
}
