<mat-grid-list *ngIf="!currentAdventure" cols="3" rowHeight="200px">
  <mat-grid-tile *ngFor="let adv of allAdventures">
    <mat-card class="full-width" style="border: 4px solid #f2f2f2">
      <mat-card-header>
        <mat-card-title style="font-size: 28px">{{ adv.name }}</mat-card-title>
        <mat-card-subtitle>{{ adv.description }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p mat-line>Level {{ adv.levelMin }}-{{ adv.levelMax}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="start(adv)" color="accent" class="full-width">Start</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<div *ngIf="currentAdventure && !champ.isDead()">

  <button mat-icon-button (click)="backToOverview()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <mat-grid-list *ngIf="currentAdventure" cols="2" rowHeight="400px">
    <mat-grid-tile>
      <mat-list class="full-width">
        <mat-list-item>
          <mat-progress-bar mat-line color="warn" mode="determinate" [value]="champ.healthPercent">
          </mat-progress-bar>
          <p mat-subheader style="position: absolute; top: 15px; left: 0">{{champ.currentHealth.get()}} / {{champ.maxHealth.get()}}</p>
        </mat-list-item>
        <mat-divider style="margin-top: 12px;"></mat-divider>
        <mat-list-item>
          <mat-progress-bar mat-line mode="determinate" [value]="champ.manaPercent">
          </mat-progress-bar>
          <p mat-subheader style="position: absolute; top: 15px; left: 0">{{champ.currentMana.get()}} / {{champ.maxMana.get()}}</p>
        </mat-list-item>
        <mat-divider style="margin-top: 12px;"></mat-divider>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list class="full-width">
        <mat-list-item>
          {{ enemy.name.get() }} (Level {{enemy.level.get()}})
        </mat-list-item>
        <mat-list-item>
          <mat-progress-bar mat-line color="warn" mode="determinate" [value]="enemy.healthPercent">
          </mat-progress-bar>
          <p mat-subheader style="position: absolute; top: 15px; left: 0">{{enemy.currentHealth.get()}} / {{enemy.maxHealth.get()}}</p>
        </mat-list-item>
        <mat-divider style="margin-top: 12px;"></mat-divider>
        <mat-list-item>
          <p mat-line>Stamina: {{enemy.stamina.get()}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <p mat-line>Strength: {{enemy.strength.get()}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>



  <div *ngIf="!enemy.isDead()" class="button-row-center">
    <div *ngFor="let spellData of learnedSpells">
      <button [attr.id]="'keybind_' + spellData.keyId" mat-fab [color]="spellData.spell.color" (click)="castSpell(spellData.spell)">
        <mat-icon>{{spellData.spell.icon}}</mat-icon>
      </button>
      <p class="spell-key-number">{{ spellData.keyId }}</p>
    </div>
  </div>

  <button *ngIf="enemyDead" mat-raised-button (click)="nextWave()" color="accent" class="full-width">Next Enemy</button>

</div>

<mat-grid-list *ngIf="champ.isDead()" cols="1" rowHeight="110px">
  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="green">
    <mat-icon color="warn" style="font-size: 64px;">healing</mat-icon>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="green">
    <h1 class="mat-headline">You died! You loose some stuff. (TODO!)</h1>
  </mat-grid-tile>
</mat-grid-list>